{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ pagetitle }}</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
</head>
<body>
  
  {% if user.is_authenticated %}
  
    <p class="text-end mt-2 me-3">
      Hi, <b>{{ user }}</b> | <a href="{% url 'signup' %}">Sign Up</a> | <a href="{% url 'logout' %}">Logout</a>
    </p>
  
  {% endif %}
    <h1 class="text-center">{{ h1_data }}</h1>
    
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger">ERROR: {{ message }}</div>
      {% else %}
        <div class="alert alert-success">{{ message }}</div>
      {% endif %}
    {% endfor %}
    
    {% if error %}

      <div>{{ error }}</div>

    {% endif %}
    
  {% block content %}{% endblock %}

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>