{% extends 'base.html' %}

{% block content %}
  
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      
  <form action="" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
      
    </table>
    <button ="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-{{ contact.id }}">Delete</button>
    <a class="btn btn-secondary" href="{% url 'contact:index' %}">Back</a>
  </form>
  </div></div>

<div class="modal fade" id="delete-{{ contact.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure want to delete {{ contact.name }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <a href="{% url 'contact:delete' contact.id %}" class="btn btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}