{% extends 'base.html' %}

{% block content %}
  
  <div class="row d-flex justify-content-center">
    
    <div class="col-md-4">
      
      <div class="d-flex justify-content-evenly">
        <a href="{% url 'contact:add' %}" class="btn btn-primary">Add Contact</a>
        <a href="{% url 'contact:export_xlsx' %}" class="btn btn-success">Export as .xlsx</a>
      </div>
    
      <form action="" class="mt-3 mb-3 input-group justify-content-center" method="post">
        {% csrf_token %}
        <input type="search" name="searchbox">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
  
  <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Pfp</th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
      <tr>
        <td>
          {% if contact.profile_picture %}
          <img src="{{ contact.profile_picture.url }}" alt="{{ contact.name}}" width="90">
          {% endif %}
        </td>
        <td><a href="{% url 'contact:edit' contact.id %}">{{ contact.name }}</a></td>
        <td>{{ contact.phone_number }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  
{% endblock %}